<!DOCTYPE HTML>
%html(lang="en")
  %head
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oranienbaum' rel='stylesheet' type='text/css'>
    = extra_asset_links
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6TPD9FMZC8"></script>
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-6TPD9FMZC8');

    %meta{:name => "generator", :content => 'nanoc ' + Nanoc::VERSION}

    %title
      = @item[:title]
      [Charles R. Hogg III]

  %body

    #title
      = link_to_unless_current 'Charles R. Hogg III', '/', :title => 'Main page'
      #nav
        %ul
          %li
            = link_to_unless_current 'About', '/about/', :title => 'About the author, the website, etc.'
          %li
            = link_to_unless_current 'Blog', '/blog/', :title => 'Personal blog'
          %li
            = link_to_unless_current 'Projects', '/projects/', :title => "Things I'm working on"
          %li
            = link_to_unless_current 'Contact', '/contact/', :title => 'Ways to contact me online'

    %hr

    #main
      = yield

    #source
      %a{:href => "https://github.com/chiphogg/chogg_name/tree/master/#{@item[:filename]}"}
        Page source on GitHub
